x-meme {
  display: block;
}

x-meme div {
    display: inline-block;
    position: relative;
}

x-meme img {
    position: relative;
    top: 0;
}

x-meme p {
    color: white;
    font-family: Impact, Arial, sans-serif;
    font-size: 36pt;
    margin: .3em auto;
    position: absolute;
    text-align: center;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    text-transform: uppercase;
    width: 100%;
}

x-meme p:nth-child(2) {
    top: 0;
}
x-meme p:nth-child(3) {
    bottom: 0;
}
